html,
body {
  overscroll-behavior: none;
  margin: 0;
}

#root {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #242424;
}

.playground-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
}

.links {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  gap: 8px;
  padding: 10px;
}

.links a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
